/* Container */
.hbc-float-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 9999;
    transition: transform .2s ease;
    max-width: 90vw;
    max-height: 90vh;
    will-change: transform;
}

/* ===== POSITIONS ===== */
.hbc-float-container.pos-bottom-left { left: 20px; bottom: 40px; transform-origin: bottom left; }
.hbc-float-container.pos-bottom-right { right: 20px; bottom: 40px; transform-origin: bottom right; }
.hbc-float-container.pos-top-left { left: 20px; top: 60px; transform-origin: top left; }
.hbc-float-container.pos-top-right { right: 20px; top: 60px; transform-origin: top right; }

/* Mobile */
@media (max-width: 768px) {
    .hbc-float-container.pos-bottom-left,
    .hbc-float-container.pos-bottom-right {
        bottom: 90px;
    }
}

/* Button shared */
.hbc-float-btn {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow:
        0 0 0 8px color-mix(in srgb, currentColor 35%, transparent),
        0 6px 16px rgba(0,0,0,0.25);

    animation: pulseZoom 1.2s infinite;
    overflow: visible;
}

/* ware area */
.hbc-float-btn::before {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    background: color-mix(in srgb, currentColor 35%, transparent);;
    opacity: 0.35;
    animation: ripple 1.2s infinite;
}

/* Icon */
.hbc-float-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    animation: iconShake 0.8s infinite;
}

button.hbc-float-btn {
    -webkit-appearance: none;
    appearance: none;
    border: 5px solid currentColor !important;
    line-height: 1 !important;
    font-size: 0 !important;
}

/* ICON */
.hbc-call-btn::after { background-image: url('../images/phone.png'); background-size: 30px; }
.hbc-zalo-btn::after { background-image: url('../images/zalo.png'); background-size: 30px; }
.hbc-contact-btn::after { background-image: url('../images/mail.png'); background-size: 30px; }
.hbc-telegram-btn::after { background-image: url('../images/telegram.png'); background-size: 30px; }
.hbc-instagram-btn::after { background-image: url('../images/instagram.png'); background-size: 30px; }
.hbc-youtube-btn::after { background-image: url('../images/youtube.png'); background-size: 30px; }
.hbc-tiktok-btn::after { background-image: url('../images/tiktok.png'); background-size: 30px; }
.hbc-fanpage-btn::after { background-image: url('../images/facebook.png'); background-size: 30px; }
.hbc-link-message-btn::after { background-image: url('../images/message.png'); background-size: 30px; }
.hbc-viber-btn::after { background-image: url('../images/viber.png'); background-size: 30px; }
.hbc-whatsapp-btn::after { background-image: url('../images/whatsapp.png'); background-size: 30px; }

/* Popup form */
.hbc-popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: none;
    z-index: 99999;
}

.hbc-popup-overlay.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hbc-popup {
    background: #fff;
    width: 90%;
    max-width: 500px;
    padding: 24px;
    border-radius: 12px;
    position: relative;
}

/* Hide on devices */

/* Hide on Desktop */
@media (min-width: 1025px) {
    .hbc-hide-desktop { display: none !important; }
}

/* Hide on Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .hbc-hide-tablet { display: none !important; }
}

/* Hide on Mobile */
@media (max-width: 767px) {
    .hbc-hide-mobile { display: none !important; }
}


/* Animations */
@keyframes pulseZoom {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
}

@keyframes ripple {
    0% {
        transform: scale(0.9);
        opacity: 0.6;
    }
    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes iconShake {
    0%,100% { transform: rotate(0); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
}

/* Mobile size */
@media(max-width: 768px) {
    .hbc-float-btn {
        width: 48px;
        height: 48px;
    }
}